/*
//Rolling Eyes
//Wagging Tail
//Special with each Decorative Pattern
//Disappearing Cat
// The Walking Cat
*/

/* Link animation with a .css class => .MoveHead in this case

To use the keyframe, a link has to be made. 
That is why we make the .class.
To link the class with the keyframe, so we can call the class to activate the animation.
*/
/* Why use @keyframes?
keyframes are used to set the steps of the animation i.e.
To change the settings that transforms the design */


.movingHead {
    animation: moveHead 5s infinite;
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

.rollingEyes {
    animation: roleEyes 3s infinite;
}
.waggingTails {
    animation: waggTail 6s infinite;
}
.waggingWhiskers {
    animation: movingWhiskers 3s infinite;
}
.SpecialPattern1 {
    animation: specialty1 5s infinite;
}
.specialPattern2 {
    animation: specialty2 2s infinite;
}
.SpecialPattern3 {
    animation: specialty3 2s infinite;
}Û
.SpecialPattern4 {
    animation: specialty4 4s infinite;
}
.SpecialPattern5 {
    animation: specialty5 6s infinite;
}
.SpecialPattern6 {
    animation: specialty6 1s infinite;
}
.SpecialPattern7 {
    animation: specialty7 1s infinite;
}
.disappearingCat {
    animation: disappearing 10s infinite;
}
.walkingCat {
    animation: walking 1.25s 256;
}
@keyframes moveHead { 
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes roleEyes{
    0% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
        margin-top: -10px;
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
        margin-top: -10px;   
    }
    100% {
        transform: rotate(0deg);
        margin-top: 0px;
    }
}
@keyframes waggTail{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes specialty1{
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(180deg);
    }
    50% {
        transform: rotateX(360deg);
    }
    75% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

/*All keyframes for the second Specialty*/
@keyframes specialty2{
    0% {
        transform:scale(1);
    }
    25% {
        transform:scale(1.125);
    }
    50% {
        transform:scale(1);
    }
    75% {
        transform:scale(1.25);
    }
    100% {
        transform:scale(1);
    }
}
@keyframes specialty3{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes specialty4{
    0% {
        left:103px;
        top: 1px;
        transform: rotate(30deg) scale(1) skew(0deg, 0deg);
    }
    50% {
        left: 66px;
        top: 21px;
        transform: rotate(60deg) scale(1.125) skew(4deg, -22deg);
    }
    100% {
        top: 1px;
        transform: rotate(30deg) scale(1) skew(0deg, 0deg);;
    }
}
@keyframes specialty5{
    0% {
        transform: scaleY(1) scaleX(1);
    }
    25% {
        transform: scaleY(1.125) scaleX(1.25);
    }
    50% {
        transform: scaleY(1.3) scaleX(1.6);
    }
    75% {
        transform: scaleY(1.125) scaleX(1.25);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes specialty6{
    0% {
        transform:scale(1) skew(0deg, 0deg);
    }
    10% {
        transform: skew(10deg, 0deg);
    }
    20% {
        transform: scale(1.25) skew(15deg, 0deg);
    }
    30% {
        transform: skew(10deg, 0deg);
    }
    40% {
        transform: scale(1) skew(0deg, 0deg);
    } 
    50% {
        transform:scale(1) skew(0deg, 0deg);
    }
    60% {
        transform: rskew(-10deg, 0deg);
    }
    70% {
        transform: scale(1.25)skew(-15deg, 0deg);
    }
    80% {
        transform: skew(-10deg, 0deg);
    }
    90% {
        transform: skew( 0deg, -10deg);
    } 
    100% {
        transform: scale(1) skew(0deg, 0deg);
    }
}
@keyframes disappearing{
    0% {
        opacity:1;
        transform: rotate(0deg);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }  
}
@keyframes walking{
    0% {
        margin-top: 0px; 
        margin-left: 0px;   
    }
    10% {
        margin-top: -10px;
        margin-left: 10px    
    }
    20% {
        margin-top: 0px;
        margin-left: 20px   
    }
    30% {
        margin-top: -10px;
        margin-left: 30px;  
    }
    40% {
        margin-top: 0px;
        margin-left: 40px
    }
    50% {
        margin-top: -10px;
        margin-left: 50px;
    }
    60% {
        margin-top: 0px;
        margin-left: 40px  
    }
    70% {
        margin-top: -10px;
        margin-left: 30px
    }
    80% {
        margin-top: 0px;
        margin-left: 20px;   
    }
    90% {
        margin-top: -10px;
        margin-left: 10px
    }
    100% {
        margin-top: 0px;
        margin-left: 0px;
    }
}
